[Unit]
Description=xremap on login

[Service]
ExecStart=/usr/bin/xremap /home/vy-faye/.config/xremap/config.yml
Type=simple

[Install]
WantedBy=default.target
